<!DOCTYPE html>
<html>

<head>
    <style>
        h1 {
            background-color: plum;
        }
    </style>
</head>

<body>
    <h1>
        Hello there!
        <%= 'hello world'.toUpperCase() %>
    </h1>
</body>

</html>